@import "~bulma/bulma.sass";
@import "~font-awesome/scss/font-awesome.scss";
@import "animations/bounce.scss";
@import "helpers/spacing.scss";
@import "helpers/spacing.scss";

.title-font {
    font-size: 12vw;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
}

@media screen and (min-width: 549px) {
    .title-font {
        font-size: 77px;
    }
}

.green {
    color: #66ccb7;
}

.pink {
    color: #363636;
    background-color: #f2bfc8;
    line-height: 0.95em;
    display: inline-block;
}

.male {
    color: #66ccb7;
}

.female {
    color: #f2bfc8;
}
