.remove-top-bottom-spacing {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.remove-bottom-spacing {
    padding-bottom: 0;
    margin-bottom: 0
}

.hide-top-hr {
    opacity: 0;
    margin-top: 0
}
